body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	font-family: Chicago, GillSans, Calibri, Trebuchet, sans-serif;
}

@font-face {
	font-family: Chicago;
	src: url(fonts/ChicagoFLF.ttf);
}

main {
  	flex: 1 0 auto;
}

.app-container {
	background-image: url(images/space_notes.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}

.nav a {
	color: white;
}

.nav a:hover {
	color: black;
	border-radius: 5px;
}

.navbar {
	background-color: rgba(0,0,0,.6);
	opacity: .8;
	font-size: 18px;
	box-shadow: 7px 5px 5px #0E1146;
}

.navbar-fixed-left {
 	width: 160px;
  	position: fixed;
  	border-radius: 0;
  	height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;   /* Cancel default li float: left  */
	width: 139px;
}

.navbar-fixed-left + .container {
	padding-left: 160px;
}

.wrapper {
  	margin-left: 140px;
}

.main-container {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.home-page {
	border-radius: 15px;
	width: 60%;
	margin: auto;
	height: 450px;
	top: 96px;
    position: absolute;
    left: 20%;
    background-color: rgba(0,0,0,.4);
}

.logo {
	/*width:  65%;
	height: 65px;
    margin-top: 10px;
    margin-left: 20px;*/
}

.logo2 {
	padding-top: 20px;
	 -webkit-animation-duration: 2.5s;
	 -webkit-animation-delay: 0s;
	  /*-webkit-animation-iteration-count: infinite;*/
}

.about-this {
	padding-top: 5%;
	width: 80%;
	margin: auto;
	color: white;
	font-size: 16px;
    -webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 1s;
}

.ni-labels {
	font-size: 18px;
}

.choose-song-button {
	background-color: #EF1D20;
	color: black;
    box-shadow: 1px 1px 1px 1px;
}

.login-reg-buttons {
	background-color: #5D44AB;
	color: white;
    box-shadow: 1px 1px 1px 1px black;
}

.ni-buttons {
	text-align: center;
	padding-top: 30px;
}

.songs-melodies-dd {
	padding-top: 10%;
    padding-left: 5%;
    color: white;
    font-size: 14px;
}

.play-game-button {
	background-color: #9833BA;
	color: black;
    box-shadow: 1px 1px 1px 1px;
}

.game-canvas {
    width: 750px;
    height: 665px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.game-info-area {
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.wrong-note {
	color: red;
	-webkit-animation-duration: 1.5s;
}

.correct-note {
	color: green;
	-webkit-animation-duration: 1.0s;
}

.default-target-note-msg {
	color: white;
}

.game-info-area, .progress-so-far {
	/*height: 30px;*/
    padding: 0px;
	background-color: rgba(0, 0, 0, .7);
	text-align: center;
	width: 750px;
    color: white;
}

.instructions {
	height: 28px;
	padding: 0px;
	background-color: rgba(0, 0, 0, .7);
	text-align: center;
	width: 750px;
    color: #609FF9;
    font-size: 14px;
}
.progress-so-far {
	height: 70px;
	margin-left: 15px;
	position: absolute;
    top: 550px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
	text-align: center;
}

.game-drawing-area {
	position: absolute;
	left:0px;
   	/*flex-direction: row;*/
}

.melody-progress-image {
	position: absolute;
	top: -3px;
    width: 65px;
    height: 75px;
	-webkit-animation-duration: 1.0s;
}

#target-note {
	padding-left: 220px;
}

#score-title {
	font-size: 22px;
}