body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: Chicago, GillSans, Calibri, Trebuchet, sans-serif;
}

@font-face {
	font-family: Chicago;
	src: url(fonts/ChicagoFLF.ttf);
}

main {
  	flex: 1 0 auto;
}

.app-container {
	background-image: url(images/space_notes.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}

.nav a {
	/*color: #FFFFFD;*/
	color: white;
}

.nav a:hover {
	color: black;
	border-radius: 5px;
}

.navbar {
	/*background-color: #3D3D3C;*/
	background-color: rgba(0,0,0,.4);
	opacity: .8;
	font-size: 18px;
	box-shadow: 7px 5px 5px #0E1146;
}

.navbar-fixed-left {
 	width: 140px;
  	position: fixed;
  	border-radius: 0;
  	height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;   /* Cancel default li float: left  */
	width: 139px;
}

.navbar-fixed-left + .container {
	padding-left: 160px;
}

.wrapper {
  	margin-left: 140px;
}

.home-page {
	border-radius: 15px;
	width: 60%;
	margin: auto;
	height: 400px;
	top: 96px;
    position: absolute;
    left: 20%;
    background-color: rgba(0,0,0,.4);
}

.logo {
	width:  65%;
	height: 65px;
    margin-top: 10px;
    margin-left: 20px;
}

.logo2 {
	padding-top: 20px;
	 -webkit-animation-duration: 2.5s;
	 -webkit-animation-delay: 0s;
	  /*-webkit-animation-iteration-count: infinite;*/
}

.about-this {
	padding-top: 5%;
	width: 80%;
	margin: auto;
	color: white;
	font-size: 16px;
    -webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 1s;
}

.play-button {
	background-color: #EF1D20;
	color: black;
    box-shadow: 1px 1px 1px 1px;
}

.login-reg-buttons {
	background-color: #5D44AB;
	color: white;
    box-shadow: 1px 1px 1px 1px black;
}

.play-login-reg-buttons {
	text-align: center;
	padding-top: 20px;
}

.songs-melodies-dd {
	padding-top: 10%;
    padding-left: 5%;
    color: white;
    font-size: 14px;
}