body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	font-family: Chicago, GillSans, Calibri, Trebuchet, sans-serif;
}

@font-face {
	font-family: Chicago;
	src: url("/fonts/ChicagoFLF.ttf");
}

main {
  	flex: 1 0 auto;
}

.app-container {
	background-image: url("/images/space_notes.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}

.nav a {
	color: white;
}

.nav a:hover {
	color: black;
	border-radius: 5px;
}

.navbar {
	background-color: rgba(0,0,0,.8);
	opacity: .8;
	font-size: 18px;
	box-shadow: 7px 5px 5px #0E1146;
}


.navbar-fixed-left {
 	width: 200px;
  	position: fixed;
  	height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;   /* Cancel default li float: left  */
	width: 200px;
}

.navbar-fixed-left + .container {
	padding-left: 160px;
}

.wrapper {
  	margin-left: 200px;
}

.main-container {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.home-page, .rules {
	border-radius: 15px;
	width: 75%;
	margin: auto;
	height: 625px;
	top: 60px;
    position: absolute;
    left: 20%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
	color: white;
}

.home-page, .rules p {
	font-size: 18px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.home-page, .rules h1, h2, h3 {
	text-align: center;
	font-family: Chicago, GillSans, Calibri, Trebuchet, sans-serif;
	padding-bottom: 15px;
}

.rules, .about-this p {
	font-family: sans-serif;
	text-align: left;
}

.logo2 {
	padding-top: 20px;
	 -webkit-animation-duration: 4.0s;
	 -webkit-animation-delay: 0s;
	  /*-webkit-animation-iteration-count: infinite;*/
}

.about-this {
	padding-top: 3%;
	width: 95%;
	margin: auto;
	font-size: 16px;
    -webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 1s;
}

.ni-labels {
	font-size: 18px;
}

.choose-song-button {
	background-color: #EF1D20;
	color: black;
    box-shadow: 1px 1px 1px 1px;
}

.login-reg-buttons {
	background-color: #5D44AB;
	color: white;
    box-shadow: 1px 1px 1px 1px black;
}

.ni-buttons {
	text-align: center;
	padding-top: 30px;
}

.songs-melodies-dd {
	padding-top: 10%;
    padding-left: 5%;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.play-game-button {
    text-decoration: none;
}

.play-melody-button {
	background-color: #9833BA;
	color: black;
    box-shadow: 1px 1px 1px 1px;
}

.game-canvas {
    width: 750px;
    height: 665px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.game-info-area {
	font-size: 30px;
}

.treble-clef {
	padding:0px;
	background: url("/images/treble_clef.png") no-repeat no-repeat;
	height: 65px;
}

.wrong-note {
	color: red;
	-webkit-animation-duration: 1.0s;
}

.correct-note {
	color: green;
	-webkit-animation-duration: 1.0s;
}

.default-target-note-msg {
	color: white;
}

.game-info-area, .progress-so-far {
	/*height: 30px;*/
    padding: 0px;
	background-color: rgba(0, 0, 0, .7);
	/*text-align: center;*/
	width: 750px;
    color: white;
}

.instructions {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 28px;
	padding: 0px;
	padding-top: 1px;
	background-color: rgba(0, 0, 0, .7);
	text-align: center;
	width: 750px;
    /*color: #609FF9;*/
    color: #CECD3D;
    font-size: 14px;
}
.progress-so-far {
	height: 60px;
	margin-left: 15px;
	position: absolute;
    top: 550px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
	text-align: center;
}

.game-drawing-area {
	position: absolute;
	left:0px;
   	/*flex-direction: row;*/
}

.melody-progress-image {
	position: absolute;
	top: -1px;
    width: 45px;
    height: 55px;
	-webkit-animation-duration: 1.0s;
}

#target-note {
	padding-top: 9px;
	padding-left: 40px;
}

#score-title {
	font-size: 22px;
    padding-top: 13px;
    color: green;
}

.game-over {
	display: none;
	padding-top: 35px;
	text-align: center;
	position: absolute;
    top: 25%;
    width: 200px;
    height: 211px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    left: 38%;
}

.game-over-buttons {
	margin-bottom: 20px;
    font-size: 14px;
}
.game-over-buttons:hover {
	color: #1165AC;
}
a.game-over-buttons:link {
	text-decoration: none;
}

#timer {
	font-size: 14px;
	padding-top: 18px;
	padding-left: 0px;
}

.piano {
	position: absolute;
	width:750px;
	height: 153px;
	left: 15px;
	top: 397px;
	background-color: white;
}