<audio autoplay>
  <!-- <source src="../sounds/spaceship_landing2.mp3" type="audio/mpeg"> -->
  <source src="../sounds/spaceship_landing.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>

<div class="container home-page">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive animated fadeInDown logo2" src="images/note_invaders_logo.png"/>
			<div ng-hide="homeCtrl.chooseSong" class="animated fadeIn about-this">
				<h2>Learning To Read Music One Galaxy At A Time...</h2>
				<p> The objective of Note Invaders is for the budding musician to
				learn to sight read and develop their musical ear by hearing notes
				and melodies in a fun interactive way.</p>

				<p>Like the classic game, Space Invaders, users will shoot down the appropriate
				note from their chosen song and melody. Each correct note garnishes 100 points.</p>
				<p>Incorrect notes will cost you 100 points.</p>

				<p>Upon successfully completion of the game, users have the opportunity not only
				see the melody on a staff, but they can play it back as well for further study.</p>

				<h3>Have Fun!!!</h3>
			<div>
		</div>
	</div>

	<div ng-show="homeCtrl.chooseSong" class="row">
      	<div class="col-xs-12 col-md-6 songs-melodies-dd">
      		<label for="songsLabel" class="ni-labels">Select Song</label>
      		<select id="songsLabel"
      				class="form-control"
      				ng-model="homeCtrl.selectedSong" 
      				ng-options="song.name for song in homeCtrl.songs"
      				ng-change="homeCtrl.popMelodiesDD()">
      				</select>
      	</div>
      	<div ng-show="homeCtrl.selectedSong" class="col-xs-12 col-md-6 songs-melodies-dd">
      		<label for="melodyLabel" class="ni-labels">Select Melody</label>
      		<select id="melodyLabel"
      		     	class="form-control"
      				ng-model="homeCtrl.selectedMelody" 
      				ng-options="melody.name for melody in homeCtrl.selectedSong.melodies">
      		</select>
		</div>
	</div>
	<div ng-show="homeCtrl.selectedMelody" class="row ni-buttons animated fadeIn">
			<!-- <div class="col-xs-12">
			  	<p5 sketch="audio-player"></p5>
			</div> -->
			<div class="col-xs-12">
				<a class="btn btn-lg play-game-button" ng-click="homeCtrl.playGame()">
					<img class="img-responsive" src="images/arcade_button.png"/>
				</a>
			</div>
	</div>

	<div ng-hide="homeCtrl.chooseSong" class="row ni-buttons animated fadeIn">
		<div class="col-xs-12">
			<a><button class="btn btn-lg choose-song-button" ng-click="homeCtrl.getAllSongs()">Choose Song</button></a>
		</div>	
	</div>
	<div ng-hide="homeCtrl.chooseSong" class="row ni-buttons animated fadeIn">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-lg login-reg-buttons animated fadeIn">Login</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-lg login-reg-buttons animated fadeIn">Register</button>
		</div>	
	</div>
</div>