<div class="container home-page">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive animated fadeInDown logo2" src="images/note_invaders_logo.png"/>
			<div class="animated fadeIn about-this">
				<p> Explain the GameExplain the GameExplain the GameExplain the GameExplain the Game
					Explain the GameExplain the GameExplain the GameExplain the GameExplain the Game
				    Explain the GameExplain the GameExplain the GameExplain the GameExplain the Game
				</p>
			<div>
		</div>
	</div>
	<div class="row play-login-reg-buttons">
		<div class="col-xs-12">
			<button class="btn btn-lg play-button">Play</button>
		</div>	
	</div>
	<div class="row play-login-reg-buttons">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-lg login-reg-buttons">Login</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-lg login-reg-buttons">Register</button>
		</div>	
	</div>
</div>