<div class="container rules">
	<div class="row">
		<div class="col-xs-12">
				<h2>Learning To Read Music One Galaxy At A Time...</h2>
				<p> The objective of Note Invaders is for the budding musician to
				learn to sight read and develop their musical ear by hearing notes
				and melodies in a fun interactive way.</p>

				<p>Like the classic game, Space Invaders, users shoot down the appropriate
				note from their chosen song and melody. Each correct note garnishes 100 points.
				Incorrect notes will cost you 100 points.</p>

				<p>Upon completion of the game, users have the opportunity not only to
				see the melody on a staff, but they can play it back for further study.</p>

				<p>At the moment, Note Invaders supports 2 octaves, C3-C5 and the Treble Clef. Bass Clef
				and further octaves will be supported in the future.</p>

				<p>Also to note, Note Invaders is supporting quarter notes (1/4) only. So, when a melody
				is played back, it may not be totally rhythmically accurate. This will also be added in
				the next version.</p>

				<h3>Have Fun!!!</h3>
			<div>
		</div>
	</div>
</div>