<div class="container rules">
	<div class="row">
		<div class="col-xs-12">
				<h2>Learning To Read Music One Galaxy At A Time...</h2>
				<p> The objective of Note Invaders is for the budding musician to
				learn to sight read and develop their musical ear by hearing notes
				and melodies in a fun interactive way.</p>

				<p>Like the classic game, Space Invaders, users will shoot down the appropriate
				note from their chosen song and melody. Each correct note garnishes 100 points.</p>
				<p>Incorrect notes will cost you 100 points.</p>

				<p>Upon successfully completion of the game, users have the opportunity not only
				see the melody on a staff, but they can play it back as well for further study.</p>

				<h3>Have Fun!!!</h3>
			<div>
		</div>
	</div>
</div>